@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>apps</title>
</head>
<body>
    <div>
        <p>Chris' Apps</p>
    </div>

    <div>
        <a href="http://af10.azurewebsites.net/magpul/magpulapp" style="font-size: 1.5em;">Windage App</a><br />
        <a href="http://af10.azurewebsites.net/Avalon/Avalon" style="font-size: 1.5em;">Avalon App</a><br />
        <a href="http://af10.azurewebsites.net/tworooms/tworooms" style="font-size: 1.5em;">Two Rooms and a Boom App</a>
    </div>
</body>
</html>
 